{{> head}}

    <body>
        <div id="profilecontent">
            <h1>{{username}}</h1>

            <h3>Details</h3>

            <ul>
                <li>Joined on: {{joinDate}}</li>
            </ul>
        </div>
    </body>

{{> foot}}
