{{> head}}

    <body>
        <div id="profilecontent">
            <h1>{{username}}</h1>

            <h3>{{PGTXT_PROFILE_DETAILS}}</h3>

            <ul>
                <li>PGTXT_PROFILE_JOINDATE {{joinDate}}</li>
            </ul>
        </div>
    </body>

{{> foot}}
